[gate]
type=gpio_push
proto=http
hostname=pi2.local
port=5002
username=gate_admin
password=Hell'sGates
pins=18,17,16
image=gate.jpg

[ventilador]
type=hs100
hostname=192.168.1.13
image=ventilador.jpg
[depuradora]
type=hs100
hostname=192.168.1.14
image=depuradora.jpg

[oficina]
type=hs100
hostname=192.168.1.15
image=office.jpg

[arcade]
type=hs100
hostname=192.168.1.18
image=arcade.jpg

