[gate]
type=gpio
proto=http
hostname=pi2.local
port=5002
username=gate_admin
password=Hell'sGates
pins=18,17,16

[ventilador]
type=hs100
hostname=192.168.1.13

[depuradora]
type=hs100
hostname=192.168.1.14

[oficina]
type=hs100
hostname=192.168.1.15

[arcade]
type=hs100
hostname=192.168.1.18